body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    margin: 4em;
}

a { color: #647704; text-decoration: none; }
a:hover { text-decoration: underline; color : #90a905; }

#header { 
    padding-bottom: 2em;
}
#header h1 a {
    color: #6d2243;
}
#header h1 a:hover {
    color: black;
    text-decoration: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#header h1  {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#header h2 {
    margin-top: 2px;
    padding-top: 2px;
}
h2 {
    color: #647704;
    font-size: 14px;
}

#content {
    padding-left: 10px;
}


.right {
    width: 220px;
    float: right;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    border-left: 1px solid #bbb;
}
.right ul {
    list-style-type: none;
}
.right a { text-decoration: none }

#footer {
    border-top: 1px solid #bbb;
    color: #333;
}

.dbresult {
    width: 650px;
    margin: 2em;
    padding-top: 1em;
    padding-left: 2em;
    background-color: #eee;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.dbresult ul {
    list-style-type: none;
}
