DBMLoc.dat
DBML_readme.txt
eSLDB_Homo_sapiens.txt
eSLDB_Mus_musculus.txt
gene_association.mgi
gene_ontology.1_2.obo.gz
LOCATE_human_v6_20081121_SMALL.xml
LOCATE_mouse_v6_20081121_SMALL.xml
LOCATE_human.xml
LOCATE_mouse.xml
LOCATE_v6.xsd
MRK_ENSEMBL.rpt
MRK_Reference.rpt
truncate.py
uniprot_sprot_SMALL.xml
uniprot_sprot.xml
uniprot.xsd
