{% extends "base.html" %}
{% block content %}

<h3>Search by...</h3>
<div style="text-align: center; ">
<table cellspacing="10" cellpadding="10" border="0">
<tr>
    <td>Ensembl gene ID:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="ensemblgene" value="ENSMUSG00000064345" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
<tr>
    <td>Ensembl peptide ID:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="ensemblprot" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
<tr>
    <td>Uniprot ID:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="uniprotid" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
<tr>
    <td>MGI ID:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="mgiid" value="MGI:1918918" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
<tr>
    <td>LOCATE ID:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="locateid" value="6008510" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
<tr>
    <td>eSLDB ID:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="esldbid" value="MM000022986" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
<tr>
    <td>Protein name:</td>
    <td>
        <form action="/search/query" method="get">
        <input type="text" name="protname" size="32" />
        <input type="submit" value="Lookup" />
        </form>
    </td>
</tr>
</table>
</div>
{% endblock %}
